* {
  box-sizing: border-box;
}
body {
  background-color: #f3e5c0;
  color: #4a2c2a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("imgs/textura.jpg");
  opacity: 0.07;
}

figure.logo {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  padding: 0;
}

main,
section.dict {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(
      rgba(143, 54, 36, 0.9),
      rgba(143, 54, 36, 0.9)
    ),
    url("imgs/calles.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  filter: brightness(1.1) contrast(1.1);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f9f4ec;
  font-family: "Merriweather", serif;
}

.hero-content {
  z-index: 2;
  margin-top: -50px;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #f3e7d9;
}
.jc {
  width: 100px;
  height: auto;
  left: 20px;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-style: bold;
  margin-top: 0;
  margin-bottom: 25px;
}

.decorativo {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #8b3a2a, #c9a66b, #8b3a2a);
  width: 200px;
  margin: 10px auto 20px;
}

.contenedor {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 80px;
  margin-top: 40px;
  align-items: start;
}

.dict {
  max-width: 100%;
  gap: 20px;
  margin-left: 100px;
  margin-bottom: 40px;
}

article {
  width: 80%;
  height: fit-content;
  background-color: #fff8e7;
  border-left: 5px solid #8b2e1e;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: aparecer 0.6s ease forwards;
}

article:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

article header {
  display: flex;
  align-items: flex-start;
  gap: 22px;
  margin-top: 0;
}

article header p {
  margin-top: 0;
  font-size: 16px;
}

article .text {
  position: absolute;
  top: 50px;
  left: 145px;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  filter: sepia(20%) contrast(1.1) brightness(1.05);
}

.manya {
  height: 180px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  gap: 20px;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 14px;
  transition: border-color 0.3s ease;
  border-color: #c9a66b;
}

.aside-info {
  background-color: #f3e8d2;
  border-left: 4px solid #8b3a2a;
  border-radius: 12px;
  margin-right: 20px;
  padding: 20px;
  font-family: "Merriweather", serif;
  color: #4b2b21;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.aside-info h3 {
  background-color: #8b3a2a;
  color: #f9f4ec;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.manya {
  height: 230px;
}

footer {
  background: #8b3a2a;
  color: #f9f4ec;
  text-align: center;
  padding: 1.5rem;
  font-family: "Merriweather", serif;
  letter-spacing: 0.5px;
}

footer::before {
  content: "";
  display: block;
  height: 5px;
  background: linear-gradient(to right, #c9a66b, #8b3a2a, #c9a66b);
}

@media (max-width: 950px) {
  .hero-content {
    text-align: center;
  }
  .hero-content p {
    font-size: 0.9rem;
  }

  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }

  .dict {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .aside-info {
    margin: 0 30px 30px 30px;
  }
  article {
    width: 95%;
    height: 180px;
  }
  article header {
    gap: 20px;
  }
  .ampay {
    height: 200px;
  }
  .manya {
    height: 300px;
  }
  .pituco {
    height: 200px;
  }
  .jato {
    height: 280px;
  }
  .guachiman .text,
  .huachafo .text {
    left: 130px;
  }

  article .text {
    width: 62%;
    font-size: 16px;
  }
  .aside-info {
    width: 91%;
  }
}
